// ホームページの背景設定
.banner {
  background: none !important;
}

// トップ進捗バー
#nprogress .bar {
  background: #11A8CD !important;
}

// ナビゲーションバーの背景
.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: saturate(180%) blur(20px);
}

// カードスタイルの設定
.home .hero, .content-wrap, .content:not(.custom) {
  background: transparent !important;
  box-shadow: none !important;
}

// コードブロックのスタイル
.code-group__nav {
  background: rgba(255, 255, 255, 0.9) !important;
}

// 記事の背景を透過にする
.theme-vdoing-content {
  background: transparent !important;
}